* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);
}

body {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

.header {
  position: relative;
  background-image: url(images/pattern-bg.png);
  background-size: cover;
  padding: 60px;
  font-size: 18px;
}

.header-title {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);

  text-align: center;
  color: #fafafa;
  font-size: 36px;
}

.search-bar {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  max-width: 500px;
  height: 50px;
  /* border: 1px solid red; */
  font-size: 18px;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}

#ip-input {
  width: 90%;
  height: 100%;
  outline: none;
  padding: 0 20px;
  border: none;
  background: #fafafa;
  font-size: 18px;
  font-family: inherit;
}

#search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 10%;
  height: 100%;
  border: none;
  outline: none;
  background: hsl(0, 0%, 17%);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

#search-btn:hover {
  background: hsl(0, 0%, 24%);
}

.info {
  position: relative;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  max-width: 900px;
  padding: 24px;
  background: #fafafa;
  box-shadow: 0px 4px 8px -4px lightgrey;
  text-align: center;
  color: var(--veryDarkGray);
  border-radius: 20px;
  z-index: 1;
}
.info section {
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  /* border: 1px solid red; */
}
.info section:not(:first-child) {
  border-left: 1px solid lightgrey;
}
.info-title {
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--darkGray);
}
#mapid {
  position: relative;
  background: #4a4dad;
  z-index: 0;
}

.attribution {
  /* border: 1px solid blue; */
  position: fixed;
  left: 10px;
  bottom: 2px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
